html,
body {
    height: 100%;
    margin: 0;
}

#main-container {
    height: calc(100vh - 88px);
}

#sidebar {
    width: 320px;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
    transform: translateX(-100%);
}

#map-container {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    border-radius: 6px;
    display: none;
}

.popup:after,
.popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

#popup-closer {
    position: absolute;
    top: 2px;
    right: 8px;
}

#popup-content {
    margin: 10px;
}